@font-face {
    font-family: "DejaVuSansMono";
    src: url("/fonts/DejaVuSansMono-Bold.woff");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "DejaVuSansMono";
    src: url("/fonts/DejaVuSansMono-BoldOblique.woff");
    font-weight: 800;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "DejaVuSansMono";
    src: url("/fonts/DejaVuSansMono.woff");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "DejaVuSansMono";
    src: url("/fonts/DejaVuSansMono-Oblique.woff");
    font-weight: 600;
    font-style: oblique;
    font-display: swap;
}
