@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DejaVuSansMono";
    src: url("/DejaVuSansMono-Bold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "DejaVuSansMono";
    src: url("/DejaVuSansMono-BoldOblique.ttf");
    font-weight: 800;
    font-style: oblique;
}

@font-face {
    font-family: "DejaVuSansMono";
    src: url("/DejaVuSansMono.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "DejaVuSansMono";
    src: url("/DejaVuSansMono-Oblique.ttf");
    font-weight: 600;
    font-style: oblique;
}