@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DejaVuSansMono";
    src: url("public/DejaVuSansMono-Bold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "DejaVuSansMono";
    src: url("public/DejaVuSansMono.ttf");
    font-weight: 600;
}